.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 180px;
    height: auto;
}
.location_group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.location_group_icons_gr{
    width: 48px;
    height: 48px;
    border-radius: 5px;
    background: #ecfdf5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.location_icons{
    color: #006f4c;
    font-size: 24px;
}
.shahar_text{
    max-width: 100px;
    font-size: 13px;
    color: #64748b;
    margin-bottom: 3px;
}
.toshkent_text{
    font-size: 18px;
    color: #006f4c;
    &:hover{
        border-bottom: 2px solid #006f4c;
    }
}
.call_group_gr{
    width: 108px;
    height: 48px;
    border-radius: 5px;
    background: #ecfdf5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.call_icons{
    color: #006f4c;
    font-size: 20px;
}
.bepul_gr{
    width: 208px;
    height: 48px;
    border-radius: 5px;
    background: #ecfdf5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.bepul_text{
    font-size: 10px;
    max-width: 120px;
    color: #64748b;
}
.header_btn{
    width: 90px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: #006f4c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    &:hover{
        background: white;
        border-color: #006f4c;
        color: #006f4c;
        transition: .3s;
    }
}